@media screen and (max-width: 500px)
	body
		background-color white

	.navbar-nav.nav
		display none
		
	.navbar.navbar-default
		background-color #f8f8f8
		
	.node
		position relative
		transition all 2s
		display inline-block
		margin-right 10px
		margin-bottom 10px
		border-radius 0%
		width 100%
		height 70px
		background #fff
		padding-left 10px
		border 1px solid #ccc
		border-right 10px solid #ccc
		.row
			display none
			margin-left 0px
			margin-right 0px
		.title, .info
			text-align left
			display inline-block
		.info
			font-size 20px
		.title
			font-size 24px
		.info::before
			content ": "
		.badge
			position absolute
			right 5px
			top 5px
			background #337ab7
			font-size 18px
	.node-online
		transition all 2s
		border 1px solid $online
		border-right 10px solid $online
	.node-away
		transition all 2s
		border 1px solid $away
		border-right 10px solid $away
	.container>.row>.col-sm-5
		border-top 1px solid #eee
		margin-top 30px
		background #fff
		margin-right 10px
		box-shadow 0px 0px 0px 0px #888