@import 'nib'

$away = #EC6464
$online = #8CEC64
$idle = #CECECE

body
	color #444
	background #f8f8f8
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color #00B7FF

.navbar.navbar-default
	background #fff

.container>.row>.col-sm-5
	margin-top 30px
	background #fff
	margin-right 10px
	box-shadow 0px 0px 6px -1px #888

.node
	position relative
	transition all 2s
	display inline-block
	margin-right 10px
	margin-bottom 10px
	border-radius 50%
	width 200px
	height 200px
	background #fff
	border 1px solid #ccc
	border-bottom 7px solid #ccc
	.row
		margin-left 0px
		margin-right 0px
	.title, .info
		text-align center
	.info
		font-size 25px
		padding-bottom 20px
	.badge
		position absolute
		right 5px
		top 1px
		background #337ab7
		font-size 18px
.node-online
	transition all 2s
	border 1px solid $online
	border-bottom 7px solid $online
	
.col-sm-4
	text-align center
	padding-bottom 5px

.box-notify
	transition all 1s
	margin-left 10px
	display inline-block
	height 10px
	width 10px
	border-radius 50%
.box-online
	transition all 1s
	background $online
.box-away
	transition all 1s
	background $away
	
.node-away
	transition all 2s
	border 1px solid $away
	border-bottom 7px solid $away
@import 'mobile'
