doctype html
html(lang="en" ng-app="app")
	head
		meta(charset="UTF-8")
		title Router
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="/css/style.css")
		script(src="/socket.io/socket.io.js")
		link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
		link(rel="stylesheet" href="/lib/sweetalert/dist/sweetalert.css")
		script.
			var _id = false;
			function tm(flag) {
				_id = (flag!=undefined)? flag: _id;
				if(_id) {
					document.getElementById('messageBox').style.display = 'none'
					document.getElementById('messages').style.display = 'block'
					document.getElementById('tm').textContent = "New Message"
				} else {
					document.getElementById('messages').style.display = 'none'
					document.getElementById('messageBox').style.display = 'block'
					document.getElementById('tm').textContent = "See Messages"
				}
				_id = !_id;
			}
	body(ng-controller="mainController")
		.navbar.navbar-static-top.navbar-default
			.container
				a.navbar-brand(href="") Router - CC8
				a.navbar-brand#tm(href="javascript:void(0);" onClick="tm()") toggle messages

		.container
			.row
				.col-sm-12#table
				.col-sm-5.col-sm-offset-1#dv
				.col-sm-5
					#messageBox
					#messages
		audio(controls style="display:none")
			source(src="/notify.ogg")
			source(src="/notify.mp3")
		script(src="/js/bundle.js")
		script tm()