body {
  color: #444;
  background: #f8f8f8;
  font: 14px 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.navbar.navbar-default {
  background: #fff;
}
.container>.row>.col-sm-5 {
  margin-top: 30px;
  background: #fff;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 6px -1px #888;
  box-shadow: 0px 0px 6px -1px #888;
}
.node {
  position: relative;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 7px solid #ccc;
}
.node .row {
  margin-left: 0px;
  margin-right: 0px;
}
.node .title,
.node .info {
  text-align: center;
}
.node .info {
  font-size: 25px;
  padding-bottom: 20px;
}
.node .badge {
  position: absolute;
  right: 5px;
  top: 1px;
  background: #337ab7;
  font-size: 18px;
}
.node-online {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
  border: 1px solid #8cec64;
  border-bottom: 7px solid #8cec64;
}
.col-sm-4 {
  text-align: center;
  padding-bottom: 5px;
}
.box-notify {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  margin-left: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.box-online {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  background: #8cec64;
}
.box-away {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  background: #ec6464;
}
.node-away {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
  border: 1px solid #ec6464;
  border-bottom: 7px solid #ec6464;
}
@media screen and (max-width: 500px) {
  body {
    background-color: #fff;
  }
  .navbar-nav.nav {
    display: none;
  }
  .navbar.navbar-default {
    background-color: #f8f8f8;
  }
  .node {
    position: relative;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    width: 100%;
    height: 70px;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-right: 10px solid #ccc;
  }
  .node .row {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .node .title,
  .node .info {
    text-align: left;
    display: inline-block;
  }
  .node .info {
    font-size: 20px;
  }
  .node .title {
    font-size: 24px;
  }
  .node .info::before {
    content: ": ";
  }
  .node .badge {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #337ab7;
    font-size: 18px;
  }
  .node-online {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
    border: 1px solid #8cec64;
    border-right: 10px solid #8cec64;
  }
  .node-away {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
    transition: all 2s;
    border: 1px solid #ec6464;
    border-right: 10px solid #ec6464;
  }
  .container>.row>.col-sm-5 {
    border-top: 1px solid #eee;
    margin-top: 30px;
    background: #fff;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 0px 0px #888;
    box-shadow: 0px 0px 0px 0px #888;
  }
}
